body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 110%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
/*  for error message */

#username-check {
	margin-top:0px; /* Add some space between the input field and the error message */
	padding-left: 60px;
  }
  
  #username-check p {
	font-size: 0.8em; /* Adjust the font size of the error message */
	margin: 0; /* Remove default margins to make it look cleaner */
  }

  #email-check {
	margin-top:0px; /* Add some space between the input field and the error message */
	padding-left: 60px;
  }
  
  #email-check p {
	font-size: 0.8em; /* Adjust the font size of the error message */
	margin: 0; /* Remove default margins to make it look cleaner */
  }
  
  
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 600px;
	background: #eee;
	border-radius: 100% / 10%;
	transform: translateY(-150px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-510px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

/* Media query for screens with a maximum width of 600 pixels (typical mobile screens) */

/* Media query for mobile screens */

@media (max-width: 1200px) {

	.signup{
		position: relative;
		width:100%;
		height: 110%;
		margin-top: 40%;
	}
	.main{
		width: 800px;
		height: 1400px;
		background: red;
		overflow: hidden;
		background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	
	.login{
		height: 1600px;
		background: #eee;
		border-radius: 500% / 50%;
		transform: translateY(-620px); 	/* for down and hight ciricle */
		transition: .8s ease-in-out;

	}

	label{
		color: #fff;
		font-size: 2.3em;
		justify-content: center;
		display: flex;
		margin: 40px;
		font-weight: bold;
		cursor: pointer;
		transition: .5s ease-in-out;
		padding-bottom: 30px;
	}

	#username-check p {
		font-size: 0.8em; /* Adjust the font size of the error message */
		margin: 10%; /* Remove default margins to make it look cleaner */
	  }
	 
	  
    .container {
        flex-direction: column;
        text-align: center;
        background-color: yellow;
    }
    .header-row {
        margin-left: 0;
    }
	#username-check {
		margin-top:0px; /* Add some space between the input field and the error message */
		padding-left: 19%;
	  }

	#email-check {
		margin-top:0px; /* Add some space between the input field and the error message */
		padding-left: 19%;
	  }
	
	#email-check p {
		font-size: 0.8em; /* Adjust the font size of the error message */
		margin: 0; /* Remove default margins to make it look cleaner */
	  }

	#chk:checked ~ .login{
		transform: translateY(-1510px);
	}

	/* for input fields */

	input{
		width: 60%;
		height: 40px;
		background: #e0dede;
		justify-content: center;
		display: flex;
		margin: 30px auto;
		padding: 10px;
		border: none;
		outline: none;
		border-radius: 10px;
		
	}

	button{
		margin: 30px auto;
		height: 60px;
		border-radius: 10px;
	}

	/* for placeholder size  for signup*/ 
	#username::placeholder {
        font-size: 25px; /* Change the font size to your desired value */
    }
	#email::placeholder {
		font-size: 25px; /* Change the font size to your desired value */
	}
	#pswd::placeholder {
		font-size: 25px; /* Change the font size to your desired value */
	}


}
/* 
width: 80%;
height: auto;
border-radius: 0;
box-shadow: none;
}

.signup,
.login {
height: auto;
transform: translateY(0);
}

label {
font-size: 1.5em;
}

input {
width: 80%;
} */