<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .messages {
            color: red;
        }
    </style>
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Script to fade out messages -->
    <script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".messages").fadeOut("slow");
        }, 3000); // Adjust the time to your preference (3000 ms = 3 seconds)
    });
    </script>
</body>
</html>
