<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Already Registered</title>
</head>
<body>
    <h1>This email is already registered, please log in.</h1>
    <a href="{% url 'base' %}">Continue with this email</a><br> <!-- Update this line -->
    <a href="{% url 'login_and_registration' %}">Return to registration page</a><br><br>

    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
